@keyframes rotateTopLine {
    0% {
        top: 10%;
        transform: rotate(0deg);
    }

    100% {
        top: 43%;
        transform: rotate(45deg);
    }
}

@keyframes reverseRotateTopLine {
    0% {
        top: 43%;
        transform: rotate(45deg);
    }

    100% {
        top: 10%;
        transform: rotate(0deg);
    }
}

@keyframes rotateMiddleLine {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes reverseRotateMiddleLine {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotateBottomLine {
    0% {
        bottom: 10%;
        transform: rotate(0deg);
    }

    100% {
        bottom: 43%;
        transform: rotate(-45deg);
    }
}

@keyframes reverseRotateBottomLine {
    0% {
        bottom: 43%;
        transform: rotate(-45deg);
    }

    100% {
        bottom: 10%;
        transform: rotate(0deg);
    }
}

@keyframes appearFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes disappearFromRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }

}

.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .nav_content {
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;

        .burger {
            right: 0;
            position: relative;
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            text-decoration: none;
            border: none;
            background-color: transparent;

            .line_rotateTopLine {
                animation: rotateTopLine 0.3s forwards;
            }

            .line_reverseRotateTopLine {
                animation: reverseRotateTopLine 0.3s forwards;
            }

            .line_rotateMiddleLine {
                animation: rotateMiddleLine 0.3s forwards;
            }

            .line_reverseRotateMiddleLine {
                animation: reverseRotateMiddleLine 0.3s forwards;
            }

            .line_rotateBottomLine {
                animation: rotateBottomLine 0.3s forwards;
            }

            .line_reverseRotateBottomLine {
                animation: reverseRotateBottomLine 0.3s forwards;
            }

            .line_top {
                position: absolute;
                top: 1rem;
                background-color: #D0D6F9;
                height: 3px;
                width: 100%;
                z-index: 1;
            }

            .line_bottom {
                position: absolute;
                bottom: 1rem;
                background-color: #D0D6F9;
                height: 3px;
                width: 100%;
                transition: all 0.3s ease;
                z-index: 1;
            }

            .line_middle {
                position: absolute;
                top: 43%;
                background-color: #D0D6F9;
                height: 3px;
                width: 100%;
                z-index: 1;
            }
        }

    }


    .list {
        position: absolute;
        letter-spacing: .15rem;
        height: 100vh;
        width: 67%;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: white;
        backdrop-filter: blur(10px);

        li {
            a {
                border-bottom: 1px solid transparent;
                padding: 0.2rem 0;
            }


            &:hover {
                a {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                    cursor: pointer;
                }

                .active {
                    border-bottom: 1px solid white;
                }
            }

            .active {
                border-bottom: 1px solid white;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
            list-style: none;
            padding-bottom: 55vh;
            padding-left: 2rem;
            padding-top: 10vh;
            gap: 1rem;

            strong {
                font-weight: 600;
            }
        }

    }

    .show {
        animation: appearFromRight 0.3s forwards;
    }

    .hide {
        animation: disappearFromRight 0.3s forwards;
    }

    // Tablet
    @media (min-width: 768px) {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .burger {
            display: none;
        }

        .show,
        .hide {
            animation: none;
        }

        .list {
            padding: 0 2rem;
            background-color: rgba(255, 255, 255, 0.04);
            height: 10vh;

            strong {
                display: none;
            }

            ul {
                flex-direction: row;
                padding: 0;

                li {
                    a {
                        border-bottom: 3px solid transparent;
                        padding: 2.5rem 0;
                    }

                    &:hover {
                        a {
                            border-bottom: 3px solid rgba(255, 255, 255, 0.25);
                            cursor: pointer;
                        }

                        .active {
                            border-bottom: 3px solid white;
                        }
                    }

                    .active {
                        border-bottom: 3px solid white;
                    }
                }
            }
        }

        @media (min-width: 1080px) {
            margin-top: 2rem;
            padding-left: 1.5rem;

            .list {
                height: 100%;
                width: 55vw;
                padding-right: 5rem;
            }

            .separator {
                width: 35vw;
                height: 1px;
                position: absolute;
                top: 6vh;
                right: 53vw;
                background-color: rgba(255, 255, 255, 0.25);
            }
        }
    }
}