.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 2rem;
  min-height: 100vh;
  background-image:
    radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
    url("/assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);

  h3 {
    letter-spacing: .20rem;
    color: #D0D6F9;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 1rem;
  }

  .paragraph {
    color: #D0D6F9;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
  }


  .button {
    margin-top: 4rem;
    margin-bottom: 0;
    width: 100%;
    max-width: 8rem;
    height: 8rem;
    padding: 1rem;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0 solid rgba(255, 255, 255, 0);
    transition: all 0.3s ease;

    &:hover {
      outline: 30px solid rgba(255, 255, 255, 0.15);
    }
  }

  // Tablet
  @media (min-width: 768px) {
    min-height: 100vh;
    height: 100%;
    padding: 2rem 10rem;
    background-image:
      radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
      url("/assets/home/background-home-tablet.jpg");

    h1 {
      font-size: 10rem;
    }

    .paragraph {
      line-height: 1.7rem;
    }

    .button {
      max-width: 15rem;
      height: 15rem;
      font-size: 2rem;
    }

    @media (min-width: 1080px) {
      background-image:
        radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
        url("/assets/home/background-home-desktop.jpg");
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      padding: 0rem 8rem 6rem 8rem;

      .content {
        width: 40%;

        h1 {
          font-size: 8rem;
        }

        h3 {
          font-size: 2rem;
        }

        h3,
        p {
          margin-left: 1rem;
          text-align: left;
        }
      }
    }
  }
}