.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 130vh;
    padding: 1rem 2rem;
    padding-top: 4rem;
    background-image: url("/assets/destination/background-destination-mobile.jpg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

    .image {
        width: 50%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h1 {
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 400;
        text-align: center;
    }

    h2 {
        font-weight: 400;
    }

    h3 {
        letter-spacing: 0.15rem;
        font-weight: 100;

        .gray {
            opacity: 0.25;
            font-weight: 600;
            margin-right: .5rem;
        }
    }

    p {
        line-height: 1.5rem;
        color: #D0D6F9;
        text-align: center;
    }

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        width: 100%;
        text-decoration: none;
        list-style: none;

        .selected {
            padding: 0.5rem 0;
            color: white;
            border-bottom: 3px solid white;
            font-weight: 100;
        }

        .notSelected {
            border-bottom: 3px solid transparent;
            padding: 0.5rem 0;
            color: #D0D6F9;
            font-weight: 100;
        }
    }

    .separator {
        margin: 1rem 0;
        width: 100%;
        height: 1px;
        background-color: #D0D6F9;
        opacity: 0.25;
    }
}