.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 130vh;
    padding: 1rem 2rem;
    padding-top: 4rem;
    background-image:
        radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
        url("/assets/destination/background-destination-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

    .image {
        width: 50%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    h1 {
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 400;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-weight: 400;
    }

    h3 {
        letter-spacing: 0.15rem;
        font-weight: 100;

        .gray {
            opacity: 0.25;
            font-weight: 600;
            margin-right: .5rem;
        }
    }

    p {
        letter-spacing: 0.15rem;
        line-height: 1.5rem;
        color: #D0D6F9;
        text-align: center;
        height: 100%;
    }

    .description {
        letter-spacing: 0;
        width: 100%;
        min-height: 20vh;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
    }

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        text-decoration: none;
        list-style: none;

        li {
            border-bottom: 3px solid transparent;
            padding: 0.5rem 0;
            color: #D0D6F9;
            font-weight: 100;
            transition: all 0.2s ease-in-out;

            &:hover {
                cursor: pointer;
                border-bottom: 3px solid rgba(255, 255, 255, 0.25);
            }

            &.active {
                padding: 0.5rem 0;
                color: white;
                border-bottom: 3px solid white;
                font-weight: 100;
            }

        }
    }

    .separator {
        width: 100%;
        height: 1px;
        background-color: #D0D6F9;
        opacity: 0.25;
    }

    .information {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        width: 100%;
        min-height: 20vh;
        height: 100%;
    }

    // Tablet
    @media (min-width: 768px) {
        justify-content: center;
        gap: 1rem;
        min-height: 100vh;
        padding: 4rem 8rem;
        padding-bottom: 0;
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
            url("/assets/destination/background-destination-tablet.jpg");

        h1 {
            font-size: 5rem;
        }

        h3 {
            position: absolute;
            left: 10px;
            top: 8rem;
        }

        .paragraph {
            line-height: 1.7rem;
        }

        .button {
            max-width: 15rem;
            height: 15rem;
            font-size: 2rem;
        }

        .information {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            gap: 1rem;
            width: 100%;
            min-height: 10vh;
            height: 100%;
        }

        @media (min-width: 1440px) {
            background-image:
                radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
                url("/assets/destination/background-destination-desktop.jpg");
        }
    }
}