.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 110vh;
    padding: 1rem;
    padding-top: 4rem;
    background-image:
        radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
        url("/assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

    .image_container {
        width: 100vw;
        max-height: 40vh;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        .image {
            width: 100%;
            height: auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

    }

    h1 {
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 400;
        text-align: center;
    }

    h2 {
        font-weight: 400;
    }

    h3 {
        letter-spacing: 0.15rem;
        font-weight: 100;

        .gray {
            opacity: 0.25;
            font-weight: 600;
            margin-right: .5rem;
        }
    }

    .subtitle {
        font-weight: 400;
        margin-bottom: 1rem;
        color: #D0D6F9;

        .gray {
            opacity: 0.25;
            font-weight: 600;
            margin-right: .5rem;
        }
    }

    p {
        min-height: 30vh;
        height: 100%;
        line-height: 1.5rem;
        color: #D0D6F9;
        text-align: center;
    }

    .ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
        text-decoration: none;
        list-style: none;

        li {
            .dot {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 2.2rem;
                height: 2.2rem;
                border-radius: 50%;
                padding: 0.5rem 0;
                color: #D0D6F9;
                outline: 1px solid rgba(255, 255, 255, 0.25);
                border-radius: 50%;
                transition: all 0.2s ease-in-out;

                &.active {
                    background-color: white;
                    color: black;
                    opacity: 1;
                    outline: 1px solid white;
                }

                &:hover {
                    outline: 1px solid white;
                }
            }
        }
    }

    // Tablet
    @media (min-width: 768px) {
        min-height: 100vh;
        height: 100%;
        justify-content: center;
        padding: 2rem 10rem;
        padding-top: 4rem;
        gap: 1.1rem;
        background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
            url("/assets/technology/background-technology-tablet.jpg");

        h1 {
            font-size: 10rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 2.5rem;
        }

        .title {
            font-size: 1.1rem;
            position: absolute;
            left: 10px;
            top: 8rem;
        }

        p {
            min-height: 10vh;
        }

        .ul {
            margin: 2rem;

            li {

                .dot {
                    width: 3.5rem;
                    height: 3.5rem;
                    font-size: 1.5rem;
                }
            }
        }

        .paragraph {
            line-height: 1.7rem;
        }

        .button {
            max-width: 15rem;
            height: 15rem;
            font-size: 2rem;
        }

        @media (min-width: 1440px) {
            background-image:
                radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%),
                url("/assets/technology/background-technology-desktop.jpg");
        }
    }
}